### Numpy : Numerical Python

#### 수치계산용 파이썬 라이브러리

In [2]:
import numpy as np

# 넘파이 배열(리스트) 생성하기
a = np.arange(10)
a

a2 = np.arange(3, 9)
a2  # 3, 4, 5, 6, 7, 8

a3 = np.arange(3, 9, 2)
a3  # 3, 5, 7

array([3, 5, 7])

In [7]:
# 넘파이 배열(리스트) 생성하기
# np.array() 함수 사용
b = [1.0, 2, 3, 4]
arr = np.array(b)
arr
print(arr)
print(arr.dtype)

[1. 2. 3. 4.]
float64

In [5]:
import numpy as np

c = ['봄', '여름', '가을', '겨울']
arr2 = np.array(c)
arr2
print(arr2)
print(arr2.dtype)

['봄' '여름' '가을' '겨울']
<U2

In [18]:
import numpy as np

순위 = 1 + np.arange(10) # 1 + (0~9)
팀 = np.array(['SSG', '롯데', 'LG', 'NC', 'KIA', '삼성', '두산', '키움', '한화', 'KT'])
승 = np.array([22, 17, 20, 17, 14, 14, 14, 14, 11, 8])
패 = np.array([11, 10, 12, 14, 14, 16, 16, 19, 19, 20])
무 = np.array([0, 0, 0, 0, 0, 0, 1, 0, 1, 2])
승률 = np.array([0.667, 0.630, 0.625, 0.548, 0.500, 0.467, 0.467, 0.424, 0.367, 0.286])              
# print(팀)
# print(승)
print(len(팀))

with open("datas/2023kbo.txt", 'w') as f:
    f.write("========== 2023 KBO리그 성적표 ==========\n")
    head = "순위\t팀\t승\t패\t무\t승률"
    f.write(head)
    f.write('\n')
    for i in range(len(팀)): # 10번 반복
        txt = f'{순위[i]}\t{팀[i]}\t{승[i]}\t{패[i]}\t{무[i]}\t{승률[i]}\n' #'\n' 줄바꿈
        f.write(txt)

10

In [19]:
with open("datas/2023kbo.txt", 'r') as f:
    data = f.read()
    print(data)

========== 2023 KBO리그 성적표 ==========
순위	팀	승	패	무	승률
1	SSG	22	11	0	0.667
2	롯데	17	10	0	0.63
3	LG	20	12	0	0.625
4	NC	17	14	0	0.548
5	KIA	14	14	0	0.5
6	삼성	14	16	0	0.467
7	두산	14	16	1	0.467
8	키움	14	19	0	0.424
9	한화	11	19	1	0.367
10	KT	8	20	2	0.286

### 넘파이의 N차원 배열
#### 1차원 배열은 벡터(vector)라 함
#### 2차원 배열은 행렬(matrix) - 수 또는 문자를 괄호안에 직사각형 형태로 배열
#### 3차원 배열은 텐서(tensor)라 함

In [27]:
A = np.array([[1, 2], [3, 4]])
B = np.array([[3, 0], [0, 6]])
# print(A)
# print(A.shape) #(2,2) -> 2행 2열
# print(B)
# print(B.shape)

# 인덱싱
print(A[0])
print(A[1][1])

# 전체 조회
for row in B:
    print(row)

# 연산
# print(A+B)
# print(A-B)
# print(A*B)
# print(A/B)

[1 2]
4
[3 0]
[0 6]